Source: valama
Section: devel
Priority: optional
Maintainer: Dominique Lasserre <lasserre.d@gmail.com>
Build-Depends: debhelper (>= 9),
         cmake,
         valac (>= 0.16) | valac-0.16 (>= 0.16),
         pkg-config,
         libvala-0.16-dev,
         libgtk-3-dev,
         libgtksourceview-3.0-dev,
         libgee-dev
Standards-Version: 3.9.3
Homepage: https://github.com/Valama
Vcs-Git: git://github.com/Valama/valama.git
Vcs-Browser: https://github.com/Valama/valama

Package: valama
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vala IDE
 Valama is the next generation Vala IDE.
