Source: valama
Section: devel
Priority: optional
Maintainer: Dominique Lasserre <lasserre.d@gmail.com>
Build-Depends: debhelper (>= 9),
         cmake,
         valac-0.24 | valac-0.22 | valac-0.20,
         libvala-0.24-dev | libvala-0.22-dev | libvala-0.20-dev,
         pkg-config,
         libgtk-3-dev,
         libgladeui-dev,
         libgdl-3-dev,
         libclutter-gtk-1.0-dev,
         libxml2-dev,
         libjson-glib-dev,
         libgtksourceview-3.0-dev,
         libgee-0.8-dev,
         libwebkit2gtk-3.0-dev,
         imagemagick,
         librsvg2-bin,
         intltool,
         valadoc
Standards-Version: 3.9.5
Homepage: https://github.com/Valama
Vcs-Git: git://github.com/Valama/valama.git
Vcs-Browser: https://github.com/Valama/valama

Package: valama
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libguanako1 (= ${binary:Version})
Description: Vala IDE
 Valama is the next generation Vala IDE.
 It comes with the guanako Vala autocompletion library and provides easy symbol
 lookups and supports cmake build system.

Package: libguanako-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libguanako1 (= ${binary:Version})
Description: Guanako development files
 Guanako is a Vala code completion library.
 .
 This package contains development files.

Package: libguanako1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Guanako runtime files
 Guanako is a Vala code completion library.

Package: valama-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Vala IDE documentation
 Valama is the next generation Vala IDE.
 It comes with the guanako Vala autocompletion library and provides easy symbol
 lookups and supports cmake build system.
 .
 This package contains IDE and Guanako library documentation.
