#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_clean:
	-rm build -r
	dh_clean config.vala

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_install:
	cp -R debian/icons debian/tmp/usr/share/icons
	dh_install
	install -m644 debian/valama.xpm debian/valama/usr/share/pixmaps/

override_dh_installchangelogs:
	dh_installchangelogs Changelog
