
[Desktop Entry]
Version=0.1
Type=Application
Name=Hello
_GenericName=Helo_test
_Comment=TEST
Categories=GTK;Office;
Exec=hello
Icon=hello
Terminal=false
Name[de_DE]=hello
